.table-page {
  background-color: hsl(220, 23%, 90%);
  padding: 0 2rem;

  .filter-table-panel {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem 0 0;
    &-field {
      flex: 1;
    }
  }
  .actions-table-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    .action-btn {
      &-primary {
        margin-right: 1rem;
      }
    }
  }
}
